<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="public/css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap" rel="stylesheet">

    <title>Dashboard</title>
</head>
<body>
    <nav class="flex-row-center-center">
        <a href="#"><img src="https://via.placeholder.com/50x50" alt="Icon 1"></a>
        <div class="topMenu">
            <a href="">Home</a>
            <a href="">Top albums</a>
            <a href="">Your favourites</a>
            <a href="">My profile</a>
            <a href="">Admin console</a>
        </div>
        <div>
            <div>
                <img src="" alt="">
                <a href="">Add album</a>
            </div>
            <span class="divider"></span>
            <div class="userInfo">
                <div class="profile">
                    <img src="" alt="">
                    <p></p>
                </div>
                <img src="" alt="">
            </div>
        </div>
    </nav>

    <div class="pageContainer">
        <h1>Albums in our library</h1>
        <form action="">
            <div>
                <input type="text" name="" id="">
            </div>
            <div>
                <input type="text" name="" id="">
            </div>
            <div></div>
            <div></div>
            <button>Search albums</button>
        </form>
        <div class="albumsList">
            <div class="albumItem">
                <div class="albumCoverArea">
                    <div><img src="" alt=""></div>
                    <img src="" alt="">
                </div>
                <div class="albumContent">
                    <h3>1-800-Oświecenie</h3>
                    <p>Taco Hemingway</p>
                    <div>
                        <div>
                            <p>Release date</p>
                            <p>01.01.2023</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>