<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css" />

    <link rel="stylesheet" type="text/css" href="public/css/reset.css">
    <link rel="stylesheet" type="text/css" href="public/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="public/css/colors.css">
    <link rel="stylesheet" type="text/css" href="public/css/flex.css">
    <link rel="stylesheet" type="text/css" href="public/css/global.css">
    <link rel="stylesheet" type="text/css" href="public/css/components.css">
    <link rel="stylesheet" type="text/css" href="public/css/responsive.css">

    <script src="public/js/scripts.js"></script>

    <title>My profile</title>
</head>

<body>
    <nav>
        <a href="/"><img src="/public/assets/logo.svg" alt="SoundSpotlight Logo"></a>
        <div class="menuArea flexRow">
            <div class="menuOptions flexRow columnGap32">
                <a href="">Home</a>
                <a href="">Top albums</a>
                <a href="">Your favourites</a>
                <a href="">My profile</a>
                <a href="">Admin console</a>
            </div>
            <div class="userSide flexRow columnGap24">
                <button class="flexRow columnGap8">
                    <span class="iconBox flexCenter"><i class="iconoir-music-double-note"></i></span>
                    <a href="">Add album</a>
                </button>
                <span class="menuDivider"></span>
                <div class="userInfo flexRow columnGap16">
                    <div class="profile flexRow columnGap8">
                        <img class="standardAvatar" src="/public/assets/imgs/avatar.png" alt="">
                        <p class="fontMedium">Mateusz Sajdak</p>
                    </div>
                    <button class="flexRow">
                        <i class="iconoir-log-out" style="font-size: 24px; color: #70758F;"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="hamburgerMenu">
            <span class="hamburgerBar"></span>
            <span class="hamburgerBar"></span>
            <span class="hamburgerBar"></span>
        </div>
    </nav>

    <div class="globalPageContainer flexColumn rowGap32 narrowPageContainer">
        <h1>My profile</h1>
        <div class="flexRow columnGap24">
            <img class="myProfileAvatar" src="/public/assets/imgs/avatar.png" alt="">
            <div class="flexRow columnGap16">
                <h1>Welcome, Mateusz</h1>
                <button class="buttonSecondary">Change your photo</button>
            </div>
        </div>
        <div class="flexColumn rowGap24">
            <div class="flexRow columnGap16">
                <button class="tabItem flexRow columnGap8" onclick="openTab(event, 'yourReviews')" id="defaultTab">
                    <i class="iconoir-message"></i>
                    Your reviews
                </button>
                <button class="tabItem flexRow columnGap8" onclick="openTab(event, 'addedAlbums')">
                    <i class="iconoir-music-double-note"></i>
                    Added albums
                </button>
            </div>
            <div>
                <div id="yourReviews" class="tabContent">
                    Your reviews
                </div>
                <div id="addedAlbums" class="tabContent">
                    Added albums
                </div>
            </div>
        </div>
    </div>
</body>

</html>