body {

    background-color: var(--background-page);

    padding: 32px;
}

a,
a:active,
a:visited {
    color: var(--primary-txt);
    text-decoration: none;
    white-space: nowrap;
}

a:hover {
    color: var(--primary-green);
}

nav {
    background-color: var(--background-container);
    padding: 16px 24px;
    border-radius: 8px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    font-size: 14px;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.04);
}

.profile p {
    white-space: nowrap;
}

.menuOptions {
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: center;
    width: 100%;
}

.menuArea {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.iconBox {
    width: 32px;
    height: 32px;
    border-radius: 8px;
    background-color: #F5F6F8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconBox i {
    font-size: 20px;
    color: #4CA6A8;
}

.divider {
    height: 16px;
    width: 1px;
    background-color: #C4C4C4;
}

.avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 40px;
}

.pageContainer {
    margin-top: 32px;
    border-radius: 16px;
    background-color: white;
    padding: 24px 24px 40px 24px;
    gap: 40px;
}

.searchBar {
    background-color: #F5F6F8;
    padding: 16px;
    border-radius: 16px;
    gap: 16px;
    align-items: flex-end;
    flex-wrap: nowrap;
}

.searchInputArea {
    width: 100%;
    min-width: 200px;
}

.searchInputArea input {
    width: -webkit-fill-available;
}

.buttonPrimary {
    background-color: var(--primary-green);
    color: white;
    padding: 11.5px 16px;
    border-radius: 8px;
    font-size: 14px;
    white-space: nowrap;
}

.albumCoverArea {
    height: 200px;
    position: relative;
}

.albumCover {
    width: 100%;
    height: 100%;
    border-radius: 16px 16px 0px 0px;
    object-fit: cover;
}

.albumsList {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 24px;
}



.albumItem {
    background-color: #FCFCFC;
    border: 1px solid #E8E8E8;
    border-radius: 16px;
    display: flex;
    width: 100%;
    min-width: 200px;
    flex-direction: column;
    row-gap: 24px;
}

.albumItem:hover {
    cursor: pointer;
}

.albumContent {
    padding: 0px 16px 16px 16px;
    width: 100%;
}

.albumItemDetailLabel {
    width: 88px;
}

.albumItemDetailText {
    color: black;
}

.favouriteButtonDefault {
    width: 32px;
    height: 32px;
    border-radius: 8px;
    background: rgba(248, 249, 255, 0.50);
    backdrop-filter: blur(2px);
    color: #ffffff;
    position: absolute;
    top: 12px;
    right: 12px;
}

.favouriteButtonDefault:hover {
    cursor: pointer;
    background-color: #4CA6A8;
}

label {
    font-size: 14px;
    color: #000000;
}

input {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #F4F5F7;
    font-size: 14px !important;
    background-color: white;
}

input:focus {
    border: 1px solid var(--primary-green);
}

.inputWithIcon {
    position: relative;
}

.inputWithIcon input[type="text"] {
    padding-left: 36px;
}

.inputWithIcon select {
    padding-left: 36px;
}

.inputWithIcon i {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #6B717D;
}

.customSelect {
    position: relative;
}

select {
    appearance: none;
    /*  safari  */
    -webkit-appearance: none;
    /*  other styles for aesthetics */
    width: 100%;
    cursor: pointer;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #F4F5F7;
    font-size: 14px !important;
    background-color: white;
}

.customSelect::before,
.customSelect::after {
    --size: 4px;
    content: "";
    position: absolute;
    right: 12px;
    pointer-events: none;
}

.customSelect::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid black;
    top: 40%;
}

.customSelect::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid black;
    top: 55%;
}

.hamburgerMenu {
    display: none;
}

.hamburgerBar {
    display: block;
    width: 24px;
    height: 2px;
    margin: 6px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #9195AA;
    border-radius: 8px;
}

@media only screen and (min-width: 375px) {
    .albumsList {
        grid-template-columns: repeat(1, 1fr);
    }

    .searchBar {
        flex-wrap: wrap;
    }


}

@media only screen and (min-width: 600px) {
    .albumsList {
        grid-template-columns: repeat(2, 1fr);
    }


}

@media only screen and (min-width: 800px) {
    .albumsList {
        grid-template-columns: repeat(3, 1fr);
    }


}

@media only screen and (min-width: 1000px) {
    .albumsList {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (min-width: 1220px) {
    .albumsList {
        grid-template-columns: repeat(5, 1fr);
    }

    .searchBar {
        flex-wrap: nowrap;
    }
}

@media only screen and (max-width: 1220px) {
    body {
        padding: 16px;
    }

    nav.active {
        border-radius: 8px 8px 0px 0px;
    }

    .menuArea {
        display: none;

    }

    .menuArea.active {
        visibility: visible;
        background-color: #fff;
        width: 100%;
        display: flex;
        flex-direction: column;
        top: 74px;
        left: 0;
        right: 0;
        border-radius: 0px 0px 8px 8px;
        padding: 16px 16px 24px 16px;
        position: absolute;
        box-shadow: 0px 24px 24px 0px rgba(0, 0, 0, 0.04);
    }

    .menuArea.active .menuOptions {
        flex-direction: column;
        gap: 8px;
    }

    .menuArea.active .menuOptions a {
        border-radius: 8px;
        padding: 16px 24px;
        background-color: #fff;
    }

    .menuArea.active .menuOptions a:hover {
        background-color: #F4F5F7;
    }

    .menuArea.active .userSide {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 0 24px;
        margin-top: 40px;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 24px;
    }

    .menuArea.active .userSide .divider {
        display: none;
    }



    .hamburgerMenu {
        display: block;
        cursor: pointer;
    }

    .hamburgerMenu.active .hamburgerBar:nth-child(2) {
        opacity: 0;
    }

    .hamburgerMenu.active .hamburgerBar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburgerMenu.active .hamburgerBar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}